<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>

  <!-- arbotix controller uses gripper_action namespace, this matches -->
  <remap from="/gripper_controller/gripper_cmd" to="/gripper_controller/gripper_action"/> 

  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="physics" value="bullet"/>
  </include>

  <!-- send robot urdf to param server -->
  <include file="$(find jenga_robot_description)/launch/load_description.launch"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.0" respawn="false" output="screen" />

  <!-- controllers -->
  <rosparam file="$(find widowx_arm_gazebo)/controller/joint_state_controller.yaml" command="load"/>
  <rosparam file="$(find widowx_arm_gazebo)/controller/arm_controller.yaml" command="load"/>
  <rosparam file="$(find widowx_arm_gazebo)/controller/gripper_controller.yaml" command="load"/>
  <rosparam file="$(find jenga_robot_gazebo)/controller/turntable_controller.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller joint_state_controller gripper_controller turntable_controller" respawn="false" output="screen"/>

  <!-- block spawner -->
  <node name="block_spawner" pkg="jenga_robot_gazebo" type="load_block.py" respawn="false" output="screen">

	<param name="position_x" value="0"/>
	<param name="position_y" value="0.1516"/>
<!--	<param name="position_z" value="0.28575"/> This triggers the delete after 3 spawns-->
<!--	<param name="position_z" value="0.2933"/> -->

	<param name="position_z" value="0.3020"/> 

	<param name="orientation_x" value="0.5"/>
	<param name="orientation_y" value="-0.5"/>
	<param name="orientation_z" value="0.5"/>
	<param name="orientation_w" value="0.5"/>

	<param name="block_description" command="$(find xacro)/xacro '$(find jenga_robot_description)/urdf/block.urdf.xacro'"/>
  </node>

</launch>

